.active-period-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
}

.active-period-info-item {
  color: var(--global-gray);
  font-weight: 600;
  font-size: 18px;
}

.active-period-info-data {
  color: black;
}
