.navigation-wrapper {
  background-color: white;
  box-shadow: rgba(128, 128, 128, 0.2) 0px 7px 29px 0px;
  margin-bottom: 40px;
}

.navigation {
  position: sticky;
  display: flex;
  width: 850px;
  background-color: white;
  padding: 30px 0px;
  gap: 20px;
  margin: auto;
}

.logo {
  color: #ff7700;
  font-weight: bold;
  font-size: 28px;
}

.navigation-link-wrapper {
  display: flex;
  align-items: center;
}

.navigation-link {
  text-decoration: none;
  color: var(--global-gray);
  font-weight: 600;
  font-size: 16px;
}

.profile {
  margin-left: auto;
}
